{
  "current_session": "na",
  "user_name": "さのまる",
  "background_id": "forest_0001",
  "character": {
    "name": "takochan",
    "version": "1.0.0",
    "model_path": null,
    "settings_path": "${NEKOBOX_CFG_PATH}/characters"
  },
  "model": {
    "regular_chat": { "temperature": 0.6 },
    "summary_gen": { "temperature": 0.1 }
  }
}
