{
  "current_session": "na",
  "user_name": "さのまる",
  "background_image": "${NEKOBOX_CFG_PATH}/image/background.png",
  "character": {
    "name": "takochan",
    "version": "1.0.0",
    "model_path": null,
    "settings_path": "${NEKOBOX_CFG_PATH}/characters"
  },
  "model": {
    "temperature": 0.6
  }
}
